streamlit
requests
absl-py==1.0.0
altair==4.2.0
anaconda-client==1.7.2
anaconda-navigator==2.0.3
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
base58==2.1.1
bing-image-downloader==1.1.2
bkcharts==0.2
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
clyent==1.2.2
comtypes==1.1.9
conda==4.10.1
conda-verify==3.4.2
cv==1.0.0
cycler==0.10.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fonttools==4.29.1
future==0.18.2
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==2.10.0
HeapDict==1.0.1
ImageHash==4.2.1
imbalanced-learn==0.9.0
imblearn==0.0
importlib-metadata==4.10.1
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface==0.6
llvmlite==0.36.0
locket==0.2.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
mccabe==0.6.1
menuinst==1.4.16
missingno==0.5.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
mtcnn==0.1.0
multimethod==1.7
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
numpy==1.18.5
oauthlib==3.1.1
olefile==0.46
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
pandas-datareader==0.10.0
pandas-profiling==3.1.0
parso==0.7.0
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
phik==0.12.0
pkginfo==1.7.0
plotly==5.5.0
plotly-express==0.4.1
ply==3.11
protobuf==3.19.3
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.43.0.6
pydantic==1.9.0
pydeck==0.7.1
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.3
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.4
tzdata==2021.5
tzlocal==4.1
utils==1.0.1
validators==0.18.2
visions==0.7.4
zict==2.0.0
zope.event==4.5.0
